body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --calendar-blue: #1a53b9;
  --calendar-green: #0b7841;
  --calendar-purple: #7b1fa2;
  --calendar-red: #b71c1c;
  --calendar-yellow: #b36c00;
  --calendar-orange: #c43e00;
  --calendar-turquoise: #00838f;
  --calendar-gray: #616161;
  --calendar-bold-blue: #1565c0;
  --calendar-bold-green: #2e7d32;
  --calendar-bold-red: #c62828;
}
